/* index-src/style.css */

/* Import */
@import url("styles/tailwind.css");
@import url("styles/tailwind/tw-vars.css");
/**~
~**/
@import url("styles/tailwind/tw-margins.css");
@import url("styles/tailwind/tw-paddings.css");
@import url("styles/tailwind/tw-colorings.css");


/* Root */
:root {
    /* Tailwind Var */
    --tw-def-font-family:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    ;
    --tw-container: var(--tw-4);

    /* Tailwind Class */
}
body {
        /* Fonts */
    font-family: var(--tw-def-font-family);
        /* User Select */
    user-select: var(--tw-none);  /* select-none */
    -webkit-user-select: var(--tw-none);  /* select-none */
    -moz-user-select: var(--tw-none);  /* select-none */
    -ms-user-select: var(--tw-none);  /* select-none */
        /* Margins */
    margin-left: var(--tw-6);  /* mx-6 */
    margin-right: var(--tw-6);  /* mx-6 */
    margin-top: var(--tw-4);  /* my-4 */
    margin-bottom: var(--tw-6);  /* my-6 */
}
/**/
/* ? */


/* Classing MDC - Basic */
#check-md h1:first-of-type {
        /* Align */
    text-align: var(--tw-center);  /* text-center */
        /* Margins */
    margin-top: var(--tw-4);  /* mt-4 */
}
.mdc-label {
        /* Fonts */
    font-weight: var(--tw-hundred-7);  /* font-bold */
        /* Align */
    text-align: var(--tw-center);  /* text-center */
}
.markdown-body .mdc-label {
        /* Margins */
    margin-top: var(--tw-2);  /* mb-2 */
    margin-bottom: var(--tw-2);  /* mb-2 */
}
/**~
~**/
.mdc-inputter {
        /* Container */
    padding-left: var(--tw-container);
    padding-right: var(--tw-container);
    /*
    */
        /* Margins */
    margin-top: var(--tw-6);  /* my-6 */
    margin-bottom: var(--tw-6);  /* my-6 */
        /* Paddings */
    padding-left: var(--tw-10);  /* px-10 */
    padding-right: var(--tw-10);  /* px-10 */
    padding-top: var(--tw-6);  /* py-6 */
    padding-bottom: var(--tw-6);  /* py-6 */
    /*
    */
        /* Borders */
    border-width: var(--tw-px-2);  /* border-2 */
    border-style: var(--tw-solid);  /* border-solid */
    border-radius: var(--tw-size-xl);  /* rounded-xl */
    /*
    */
        /* Aligns */
    text-align: var(--tw-center); /* text-center */
    /*
    */
        /* ? */
}
.mdc-input-sect {
        /* Displays */
    display: var(--tw-flex);  /* flex */
    flex-direction: var(--tw-column);  /* column */
    gap: var(--tw-4);  /* gap-4 */
        /* Margins */
    margin-left: var(--tw-auto);  /* mx-auto */
    margin-right: var(--tw-auto);  /* mx-auto */
    margin-bottom: var(--tw-4);  /* mb-4 */
}
.mdc-input-sect input {
        /* Align */
    text-align: var(--tw-center);
        /* Widths */
    width: var(--tw-dsc-90);  /* 100% */
        /* Margins */
    margin: var(--tw-auto);  /* mx-auto */
        /* Paddings */
    padding: var(--tw-px-12) var(--tw-px-16);
}
.mdc-input-sect input::placeholder {
        /* Align */
    text-align: var(--tw-center);
}
.mdc-input-sect button {
        /* Cursor: Pointer */
    cursor: var(--tw-pointer);
        /* Fonts */
    font-size: var(--tw-px-16);  /* text-lg */
    font-weight: 600;
        /* Widths */
    width: var(--tw-dsc-30);
        /* Margins */
    margin: var(--tw-auto);  /* mx-auto */
        /* Paddings */
    padding: var(--tw-px-10) var(--tw-px-16);
        /*  */
    border-radius: var(--tw-px-8);  /* rounded-lg */
}
/**/
.mdc-content {
        /* Container */
    padding-left: var(--tw-container);  /* container (value) */
    padding-right: var(--tw-container);  /* container (value) */
    /*
    */
        /* Widths */
    width: var(--tw-auto);  /* w-auto */
    /*
    */
        /* Margins */
    margin-top: var(--tw-6);  /* my-6 */
    margin-bottom: var(--tw-6);  /* my-6 */
        /* Paddings */
    /*
    */
        /* Borders */
    border-width: var(--tw-px-2);  /* border-2 */
    border-style: var(--tw-solid);  /* border-solid */
    border-radius: var(--tw-size-xl);  /* rounded-xl */
    border-color: var(--tw-neutral-700);  /* border-neutral-700 */
        /* ? */
}
.mdc-link {
        /* Fonts */
    text-decoration: var(--tw-none);
        /* Colors */
    color: var(--tw-slate-700);
}
.mdc-err {
        /* Fonts */
    font-weight: var(--tw-hundred-7);  /* font-bold */
        /* Align */
    text-align: var(--tw-center);  /* text-center */
        /* Colors */
    color: var(--tw-red-500);
}
.markdown-body .mdc-err {
        /* Margins */
    margin-left: var(--tw-auto);  /* mx-auto */
    margin-right: var(--tw-auto);  /* mx-auto */
    margin-top: var(--tw-2);  /* my-2 */
    margin-bottom: var(--tw-2);  /* my-2 */
}


/* Classing MDC - Media */

/*
    min-width: var(--tw-display-pc)
    min-width: 64rem
*/
@media (min-width: 64rem) {
    body {
            /* Fonts */
        font-family: var(--tw-def-font-family);
            /* Margins */
        margin-left: var(--tw-8);  /* mx-8 */
        margin-right: var(--tw-8);  /* mx-8 */
        margin-top: var(--tw-0);  /* mx-0 */
        margin-right: var(--tw-6);  /* mx-6 */
    }

    .mdc-inputter {
            /* Borders */
        border-radius: var(--tw-size-3xl);  /* rounded-3xl */
        /*
        */
            /* Widths */
        margin-left: var(--tw-8);  /* mx-8 */
        margin-right: var(--tw-8);  /* mx-8 */
        /*
        */
        /* ? */
    }
    /**~
    ~**/
    #mdc-content {
        margin-left: var(--tw-auto);  /* mx-auto */
        margin-right: var(--tw-auto);  /* mx-auto */
    }
    .mdc-content {
            /* Widths */
        width: var(--tw-auto);  /* w-auto */
        max-width: var(--tw-mxw-6xl);  /* max-w-6xl */
            /* Borders */
        border-radius: var(--tw-size-3xl);  /* rounded-3xl */
            /* ? */
    }
}


/*
*/
