/* index-src/styles/tw-margins.css */

/* Imports */
@import url("tw-vars.css");

/* Root */
:root {
    --x-1: 1px;
}


/*
    Classings
*//*
*/
    /* Formula */
[class^="mx-"] {
    margin-left: var(--tw-value);
    margin-right: var(--tw-value);
}
[class^="my-"] {
    margin-top: var(--tw-value);
    margin-bottom: var(--tw-value);
}

    /* Margin - Manual: All */
.m-0 { margin: var(--tw-0); }
.m-1 { margin: var(--tw-1); }
.m-2 { margin: var(--tw-2); }
.m-4 { margin: var(--tw-4); }
.m-6 { margin: var(--tw-6); }
.m-10 { margin: var(--tw-10); }
.m-20 { margin: var(--tw-20); }

    /* Margin - Manual: Sideds */
.mt-0 { margin-top: var(--tw-0); }
.mt-1 { margin-top: var(--tw-1); }
.mt-2 { margin-top: var(--tw-2); }
.mt-4 { margin-top: var(--tw-4); }
.mt-6 { margin-top: var(--tw-6); }
.mt-10 { margin-top: var(--tw-10); }
.mt-20 { margin-top: var(--tw-20); }
/**/
.-mt-0 { margin-top: var(--tw-n0); }
.-mt-1 { margin-top: var(--tw-n1); }
.-mt-2 { margin-top: var(--tw-n2); }
.-mt-4 { margin-top: var(--tw-n4); }
.-mt-6 { margin-top: var(--tw-n6); }
.-mt-10 { margin-top: var(--tw-n10); }
.-mt-20 { margin-top: var(--tw-n20); }
/*
*/
.mr-0 { margin-right: var(--tw-0); }
.mr-1 { margin-right: var(--tw-1); }
.mr-2 { margin-right: var(--tw-2); }
.mr-4 { margin-right: var(--tw-4); }
.mr-6 { margin-right: var(--tw-6); }
.mr-10 { margin-right: var(--tw-10); }
.mr-20 { margin-right: var(--tw-20); }
/**/
.-mr-0 { margin-right: var(--tw-n0); }
.-mr-1 { margin-right: var(--tw-n1); }
.-mr-2 { margin-right: var(--tw-n2); }
.-mr-4 { margin-right: var(--tw-n4); }
.-mr-6 { margin-right: var(--tw-n6); }
.-mr-10 { margin-right: var(--tw-n10); }
.-mr-20 { margin-right: var(--tw-n20); }
/*
*/
.mb-0 { margin-bottom: var(--tw-0); }
.mb-1 { margin-bottom: var(--tw-1); }
.mb-2 { margin-bottom: var(--tw-2); }
.mb-4 { margin-bottom: var(--tw-4); }
.mb-6 { margin-bottom: var(--tw-6); }
.mb-10 { margin-bottom: var(--tw-10); }
.mb-20 { margin-bottom: var(--tw-20); }
/**/
.-mb-0 { margin-bottom: var(--tw-n0); }
.-mb-1 { margin-bottom: var(--tw-n1); }
.-mb-2 { margin-bottom: var(--tw-n2); }
.-mb-4 { margin-bottom: var(--tw-n4); }
.-mb-6 { margin-bottom: var(--tw-n6); }
.-mb-10 { margin-bottom: var(--tw-n10); }
.-mb-20 { margin-bottom: var(--tw-n20); }
/*
*/
.ml-0 { margin-left: var(--tw-0); }
.ml-1 { margin-left: var(--tw-1); }
.ml-2 { margin-left: var(--tw-2); }
.ml-4 { margin-left: var(--tw-4); }
.ml-6 { margin-left: var(--tw-6); }
.ml-10 { margin-left: var(--tw-10); }
.ml-20 { margin-left: var(--tw-20); }
/**/
.-ml-0 { margin-left: var(--tw-n0); }
.-ml-1 { margin-left: var(--tw-n1); }
.-ml-2 { margin-left: var(--tw-n2); }
.-ml-4 { margin-left: var(--tw-n4); }
.-ml-6 { margin-left: var(--tw-n6); }
.-ml-10 { margin-left: var(--tw-n10); }
.-ml-20 { margin-left: var(--tw-n20); }

    /* Margin - Manual: X - Horizontal */
.mx-0 { --tw-value: var(--tw-0); }
.mx-1 { --tw-value: var(--tw-1); }
.mx-2 { --tw-value: var(--tw-2); }
.mx-4 { --tw-value: var(--tw-4); }
.mx-6 { --tw-value: var(--tw-6); }
.mx-10 { --tw-value: var(--tw-10); }
.mx-20 { --tw-value: var(--tw-20); }

    /* Margin - Manual: Y - Vertical */
.my-0 { --tw-value: var(--tw-0); }
.my-1 { --tw-value: var(--tw-1); }
.my-2 { --tw-value: var(--tw-2); }
.my-4 { --tw-value: var(--tw-4); }
.my-6 { --tw-value: var(--tw-6); }
.my-10 { --tw-value: var(--tw-10); }
.my-20 { --tw-value: var(--tw-20); }


    /* Classing: Auto-Margin */
.m-auto {
  margin-left: auto; margin-right: auto;
  margin-top: auto; margin-bottom: auto;
}
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }


/*
*/
