%Image::ExifTool::UserDefined = (
    #
    # [1] Daftarkan namespace baru
    'Image::ExifTool::XMP::Main' => {
        Sec_Res => {
            # ini prefix bebas (jangan XMP)
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Sec_Res',
            },
        },
    },
);


# [2] Buat tabel tag custom
%Image::ExifTool::UserDefined::Sec_Res = (
    GROUPS => {
        0 => 'XMP',
        1 => 'XMP-Sec_Res',
        2 => 'Image',
    },
    NAMESPACE => {
        'Sec_Res' => 'http://minecube1510.local/ns/1.0/'
    },
    #
    WRITABLE => 'string',

    # [PERDATAAN] #
    AuthorName => {},
    ImageFrom => {},
    #
    AuthorLink => {},
    ImageLink => {},
);

1;  # end