/* web/css/index-style.css */

/* Root */
/* * /
@tailwind base;
@tailwind components;
@tailwind utilities;
/* */
    /*|
    |*/
:root {
    --transer-smooth: .2s;
    --longer-smooth: .5s;
        /**/
    --text-opting: ease-out;
    --theme-opting: ease-in-out;
    /**/
    --index-transition-theme:
        background-color var(--transer-smooth) var(--theme-opting),
        color var(--transer-smooth) var(--text-opting),
        border-color var(--transer-smooth) var(--theme-opting);
    --index-transition-focus:
        box-shadow var(--transer-smooth) var(--theme-opting);
    /**/
    --none: (none);
    /**/
}
/**/
/*
    */


/* Base */
article.markdown-body#content {
    /* ? */
    /**/
}
    /*|
    |*/
article.markdown-body#content ul {
    list-style-type: disc !important;
}
article.markdown-body#content ol {
    list-style-type: decimal !important;
}
    /*|
    |*/
article#content {
    contain: style layout paint;
    /*
        contain: style;
        contain: style layout paint;
    */
}
/**/
/*
    */


/* Costumize */
.theme-smooth {
    transition-property:
        /* opacity var(--transer-smooth) var(--theme-opting), */
        var(--index-transition-theme)
        ;
}
/**/
#arrow-gt-selector::before {
    display: inline-block;
    transform:
        translateX(-0.5px) translateY(-0.5px);
}
/**
**/
.pf-mode::selection {
    background: transparent;
    color: inherit;
}
.pf-mode::-moz-selection {
    background: transparent;
    color: inherit;
}
/**
**/
.no-scrollbar::-webkit-scrollbar {
    display: var(--none);
}
.no-scrollbar {
    scrollbar-width: var(--none);
    -ms-overflow-style: var(--none);
/**
**/
}
/*
    */


/* Comps */
/* /*  */
.comp-smooth
{
    /* /*  */
    transition:
        background-color var(--longer-smooth) var(--theme-opting),
        color var(--longer-smooth) var(--text-opting),
        border-color var(--longer-smooth) var(--theme-opting),
        box-shadow var(--longer-smooth) var(--theme-opting)
        ;
    /* */ */
}
.comp-smooth:focus-within
{
    box-shadow: 0 0 0 3px var(--tw-ring-color);
}
/* */ */
/**/
/*
    */


/**/
/* END */
