/* web/css/theme-mode.css */

/* Root */
/* * /
@tailwind base;
@tailwind components;
@tailwind utilities;
/* */
    /*|
    |*/
:root {
    --theme-speed: 500ms;
    --theme-opting: ease-in-out;
    /**/
}
/*
    */


/* Base */
html, body,
/**/
#src-res-lister,
/**/
#idx-gt-switch, #idx-gt-input, #idx-gt-select,
#article-md-root
/**/
{
    transition:
        background-color var(--theme-speed) var(--theme-opting),
        color var(--theme-speed) var(--theme-opting),
        border-color var(--theme-speed) var(--theme-opting);
}
#article-md-search
/**/
{
    transition:
        background-color var(--theme-speed) var(--theme-opting),
        /* color var(--theme-speed) var(--theme-opting), */
        border-color var(--theme-speed) var(--theme-opting);
}
/**
**/
html[data-theme] .markdown-body,
html[data-theme] .markdown-body * {
    transition: none !important;
}
/**/
/*
    */


/* Costumize */
/**/
/*
    */


/* Comps */
/**/
/*
    */


/**/
/* END */
