/* web/css/theme-mode.css */

/* Root */
/* * /
@tailwind base;
@tailwind components;
@tailwind utilities;
/* */
    /*|
    |*/
:root {
    --theme-speed: .5s;
    --theme-opting: ease-in-out;
    /**/
}
/*
    */


/* Base */
html, body
/**/
{
    transition:
        background-color var(--theme-speed) var(--theme-opting),
        color var(--theme-speed) var(--theme-opting),
        border-color var(--theme-speed) var(--theme-opting);
}
/**
**/

/**/
/*
    */


/* Costumize */
/**/
/*
    */


/* Comps */
/**/
/*
    */


/**/
/* END */
